@tailwind base;
@tailwind components;
@tailwind utilities;


/* .rce-citem {
  background-color: (31 41 55 / var(--tw-bg-opacity)) !important
}

.rce-citem-body--top-time {
  color: white !important;
}

.rce-citem-body--bottom-title {
  color: white !important;
} */